@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-input::placeholder, .articles-input::placeholder {
    color: #808080;
}

#complaint::placeholder {
    font-size: 14px;
}

.articles-input::placeholder {
    font-size: 12px;
}

.about-card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.about-card:hover {
    transform: rotateY(180deg);
}

.about-card-front, .about-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about-card-back {
    transform: rotateY(180deg);
}

@media (min-width: 768px) {
    .articles-input::placeholder {
        font-size: 16px;
    }
}

@media (min-width: 2560px) {
    .contact-input::placeholder, .articles-input::placeholder {
        font-size: 28px;
    }
}
